# Librerie principali
pandas
numpy

# Scraping e parsing
feedparser
beautifulsoup4
requests

# NLP e Machine Learning
spacy
transformers
torch
scikit-learn

# Visualizzazione
streamlit
matplotlib
altair

# Utilità
python-dotenv